[submodule "gol_ml"]
	path = gol_ml
	url = https://github.com/silent-brad/gol_ml
[submodule "gol_ml_2"]
	path = gol_ml_2
	url = https://github.com/silent-brad/gol_ml_2
[submodule "gol_nim"]
	path = gol_nim
	url = https://github.com/silent-brad/gol_nim
[submodule "gol_esp32_rs"]
	path = gol_esp32_rs
	url = https://github.com/silent-brad/gol_esp32_rs
[submodule "gol_jv_ds"]
	path = gol_jv_ds
	url = https://github.com/silent-brad/gol_jv_ds
[submodule "gol_esp32_nim"]
	path = gol_esp32_nim
	url = https://github.com/silent-brad/gol_esp32_nim
